<div class="row">
    <div class="col-md-12">
        <nb-card status="success" *ngIf="staff$ | async as staff; else noStaff">
            <nb-card-header>CẬP NHẬT NHÂN VIÊN {{ staff.id }}</nb-card-header>
            <nb-card-body>
                <form novalidate (ngSubmit)="onSubmit(staff.id)" [formGroup]="frUpdateStaff">
                    <div class="form-group row">
                        <label for="name" class="label col-sm-3 col-form-label">Họ tên: </label>
                        <div class="col-sm-9">
                            <input type="text" formControlName="name" nbInput fullWidth id="name" placeholder="Name">
                        </div>
                    </div>
                    <nb-alert *ngIf="frUpdateStaff.get('name').invalid && frUpdateStaff.get('name').touched"
                        status="danger">
                        <span *ngIf="frUpdateStaff.get('name').errors.required">Name is required</span>
                        <span *ngIf="frUpdateStaff.get('name').errors?.minlength">
                            Name at least {{ frUpdateStaff.get('name').errors?.minlength.requiredLength }} characters
                        </span>
                        <span *ngIf="frUpdateStaff.get('name').errors?.maxlength">
                            Name at most {{ frUpdateStaff.get('name').errors?.maxlength.requiredLength }} characters
                        </span>
                    </nb-alert>

                    <div class="form-group row">
                        <label for="gender" class="label col-sm-3 col-form-label">Giới tính: </label>
                        <div class="col-sm-9" id="gender">
                            <nb-radio-group formControlName="gender">
                                <nb-radio [value]="true">Nam</nb-radio>
                                <nb-radio [value]="false">Nữ</nb-radio>
                            </nb-radio-group>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="birth" class="label col-sm-3 col-form-label">Ngày sinh: </label>
                        <div class="col-sm-9" id="birth">
                            <input formControlName="birth" nbInput fullWidth placeholder="Birthday"
                                [nbDatepicker]="dateTimePicker">
                            <nb-datepicker #dateTimePicker></nb-datepicker>
                        </div>
                    </div>
                    <nb-alert *ngIf="frUpdateStaff.get('birth').invalid && frUpdateStaff.get('birth').touched"
                        status="danger">
                        <span *ngIf="frUpdateStaff.get('birth').errors.required">Birth is required</span>
                    </nb-alert>

                    <div class="form-group row">
                        <label for="pass" class="label col-sm-3 col-form-label">Mật khẩu: </label>
                        <div class="col-sm-9">
                            <input type="password" formControlName="password" nbInput fullWidth id="pass"
                                placeholder="Password">
                        </div>
                    </div>
                    <nb-alert *ngIf="frUpdateStaff.get('password').invalid && frUpdateStaff.get('password').touched"
                        status="danger">
                        <span *ngIf="frUpdateStaff.get('password').errors.required">Password is required</span>
                        <span *ngIf="frUpdateStaff.get('password').errors?.minlength">
                            Password at least {{ frUpdateStaff.get('password').errors?.minlength.requiredLength }} characters
                        </span>
                        <span *ngIf="frUpdateStaff.get('password').errors?.maxlength">
                            Password at most {{ frUpdateStaff.get('password').errors?.maxlength.requiredLength }} characters
                        </span>
                    </nb-alert>

                    <div class="form-group row">
                        <label for="phone" class="label col-sm-3 col-form-label">SĐT: </label>
                        <div class="col-sm-9">
                            <input type="tel" formControlName="phone" nbInput fullWidth id="phone"
                                placeholder="Phone number">
                        </div>
                    </div>
                    <nb-alert *ngIf="frUpdateStaff.get('phone').invalid && frUpdateStaff.get('phone').touched"
                        status="danger">
                        <span *ngIf="frUpdateStaff.get('phone').errors.required">Phone is required</span>
                        <span *ngIf="frUpdateStaff.get('phone').errors?.pattern">
                            Phone is invalid
                        </span>
                    </nb-alert>

                    <div class="form-group row">
                        <label for="permission" class="label col-sm-3 col-form-label">Chức vụ: </label>
                        <div class="col-sm-9">
                            <nb-select formControlName="permission" placeholder="Permission" shape="semi-round"
                                id="permission">
                                <nb-option value="Staff">Nhân viên</nb-option>
                                <nb-option value="Admin">Admin</nb-option>
                                <nb-option value="Warehouse">Nhân viên kho</nb-option>
                                <nb-option value="Manager">Quản lý</nb-option>
                            </nb-select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="offset-sm-3 col-sm-3">
                            <button nbButton hero status="primary" type="submit">CẬP NHẬT</button>
                        </div>
                        <div class="offset-sm-3 col-sm-3">
                            <button nbButton hero status="danger" (click)="resetForm()">NHẬP LẠI</button>
                        </div>
                    </div>
                </form>
            </nb-card-body>
        </nb-card>
    </div>
</div>

<ng-template #noStaff>
    <nb-card status="danger">
        <nb-card-header>Staff does not exist</nb-card-header>
    </nb-card>
</ng-template>