<div class="row">
    <div class="col-md-12">
        <nb-card>
            <nb-card-header>THÊM NHÂN VIÊN</nb-card-header>
            <nb-card-body>
                <form novalidate [formGroup]="formAddStaff">
                    <div class="form-group row">
                        <label for="StaffId" class="label col-sm-3 col-form-label">Mã số khách hàng: </label>
                        <div class="col-sm-9">
                            <input type="text" 
                            formControlName="id" 
                            nbInput fullWidth id="StaffId"
                            placeholder="Staff ID"
                            [status]="formAddStaff.get('id').invalid && formAddStaff.controls.id?.touched ? 'danger' : 'basic'">
                        </div>
                    </div>
                    <nb-alert *ngIf="formAddStaff.get('id').invalid && formAddStaff.controls.id?.touched"
                        status="danger">
                        <span *ngIf="formAddStaff.get('id').errors.required">ID is required</span>
                        <span *ngIf="formAddStaff.get('id').errors?.minlength">
                            Staff ID at least {{ formAddStaff.get('id').errors?.minlength.requiredLength }} characters
                        </span>
                        <span *ngIf="formAddStaff.get('id').errors?.maxlength">
                            Staff ID at most {{ formAddStaff.get('id').errors?.maxlength.requiredLength }} characters
                        </span>
                    </nb-alert>

                    <div class="form-group row">
                        <label for="name" class="label col-sm-3 col-form-label">Họ tên: </label>
                        <div class="col-sm-9">
                            <input type="text" formControlName="name" nbInput fullWidth id="name" placeholder="Name">
                        </div>
                    </div>
                    <nb-alert *ngIf="formAddStaff.get('name').invalid && formAddStaff.get('name').touched"
                        status="danger">
                        <span *ngIf="formAddStaff.get('name').errors.required">Name is required</span>
                        <span *ngIf="formAddStaff.get('name').errors?.minlength">
                            Name at least {{ formAddStaff.get('name').errors?.minlength.requiredLength }} characters
                        </span>
                        <span *ngIf="formAddStaff.get('name').errors?.maxlength">
                            Name at most {{ formAddStaff.get('name').errors?.maxlength.requiredLength }} characters
                        </span>
                    </nb-alert>

                    <div class="form-group row">
                        <label for="gender" class="label col-sm-3 col-form-label">Giới tính: </label>
                        <div class="col-sm-9" id="gender">
                            <nb-radio-group formControlName="gender">
                                <nb-radio [value]="true">Nam</nb-radio>
                                <nb-radio [value]="false">Nữ</nb-radio>
                            </nb-radio-group>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="birth" class="label col-sm-3 col-form-label">Ngày sinh: </label>
                        <div class="col-sm-9" id="birth">
                            <input formControlName="birth" nbInput fullWidth placeholder="Birthday"
                                [nbDatepicker]="dateTimePicker">
                            <nb-datepicker #dateTimePicker></nb-datepicker>
                        </div>
                    </div>
                    <nb-alert *ngIf="formAddStaff.get('birth').invalid && formAddStaff.get('birth').touched"
                        status="danger">
                        <span *ngIf="formAddStaff.get('birth').errors.required">Birth is required</span>
                    </nb-alert>

                    <div class="form-group row">
                        <label for="pass" class="label col-sm-3 col-form-label">Mật khẩu: </label>
                        <div class="col-sm-9">
                            <input type="password" formControlName="password" nbInput fullWidth id="pass"
                                placeholder="Password">
                        </div>
                    </div>
                    <nb-alert *ngIf="formAddStaff.get('password').invalid && formAddStaff.get('password').touched"
                        status="danger">
                        <span *ngIf="formAddStaff.get('password').errors.required">Password is required</span>
                        <span *ngIf="formAddStaff.get('password').errors?.minlength">
                            Password at least {{ formAddStaff.get('password').errors?.minlength.requiredLength }} characters
                        </span>
                        <span *ngIf="formAddStaff.get('password').errors?.maxlength">
                            Password at most {{ formAddStaff.get('password').errors?.maxlength.requiredLength }} characters
                        </span>
                    </nb-alert>

                    <div class="form-group row">
                        <label for="phone" class="label col-sm-3 col-form-label">SĐT: </label>
                        <div class="col-sm-9">
                            <input type="tel" formControlName="phone" nbInput fullWidth id="phone"
                                placeholder="Phone number">
                        </div>
                    </div>
                    <nb-alert *ngIf="formAddStaff.get('phone').invalid && formAddStaff.get('phone').touched"
                        status="danger">
                        <span *ngIf="formAddStaff.get('phone').errors.required">Phone is required</span>
                        <span *ngIf="formAddStaff.get('phone').errors?.pattern">
                            Phone is invalid
                        </span>
                    </nb-alert>
                    <div class="form-group row">
                        <label for="permission" class="label col-sm-3 col-form-label">Chức vụ: </label>
                        <div class="col-sm-9">
                            <nb-select formControlName="permission" placeholder="Permission" shape="semi-round"
                                id="permission">
                                <nb-option value="Staff">Nhân viên</nb-option>
                                <nb-option value="Admin">Admin</nb-option>
                                <nb-option value="Warehouse">Nhân viên kho</nb-option>
                                <nb-option value="Manager">Quản lý</nb-option>
                            </nb-select>
                        </div>
                    </div>
                </form>
            </nb-card-body>
            <nb-card-footer>
                <div class="row">
                    <div class="col-md-4 col-12">
                        <button nbButton fullWidth hero status="primary" (click)="addStaff()" [disabled]="formAddStaff.invalid">THÊM MỚI</button>
                    </div>
                    <div class="offset-md-4 col-md-4 col-12">
                        <button nbButton fullWidth hero status="danger" (click)="resetForm($event)">NHẬP LẠI</button>
                    </div>
                </div>
            </nb-card-footer>
        </nb-card>
    </div>
</div>