<nb-card status="success" *ngIf="service$ | async as service; else noSer">
    <nb-card-header>Thông tin dịch vụ: {{ service.id }}</nb-card-header>
    <nb-card-body>
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td>
                        Tên dịch vụ:
                    </td>
                    <td>
                        {{ service.name }}
                    </td>
                </tr>
                <tr>
                    <td>
                        Giá dịch vụ:
                    </td>
                    <td>
                        {{ service.price }} $
                    </td>
                </tr>
                <tr>
                    <td>
                        Mô tả:
                    </td>
                    <td [innerHTML]="service.description | innerHtmlPipe">
                    </td>
                </tr>
            </tbody>
        </table>
    </nb-card-body>
    <nb-card-footer>
        <div class="row">
            <div class="col-md-4 col-12">
                <button hero fullWidth nbButton shape="semi-round" status="info" (click)="onUpdate(service.id)"><i
                        class="fas fa-edit"></i>&emsp;Cập nhật dịch vụ </button>
            </div>
            <div class="offset-md-4 col-md-4 col-12">
                <button hero fullWidth nbButton shape="semi-round" status="danger" (click)="onRemove(service.id)"><i
                        class="fas fa-user-times"></i>&emsp;Xóa dịch vụ </button>
            </div>
        </div>
    </nb-card-footer>
</nb-card>
<ng-template #noSer>
    <nb-card status="danger">
        <nb-card-header>Service does not exist</nb-card-header>
    </nb-card>
</ng-template>